*{
    box-sizing:border-box;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(239, 205, 211);
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
.menu-bar {
    width: 100%;
    height: 30px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color:rgb(252,241,201)
}

.website-name>h2{
    font-family: "Shadows Into Light Two", cursive;
    font-size:30px;
    margin:0;
    padding:0;
    color:maroon;
    line-height: 1;
}
.info{
    color:maroon;
    display:flex;
    gap:7px;
    margin-right:7px;
}
.info p{
    font-family: "Shadows Into Light Two", cursive;
    font-weight:700;
    margin:0px;
    padding:0px;
    margin-top:5px;
}
#mode-btn{
    margin-top:1px;
    padding:1.5px;
    width: 88px;
    height:25px;
    color: rgb(252,241,201);
    background-color:maroon;
    border-radius: 0.2cm;
    border-color: peachpuff;
}

.welcome h3{
    font-family: "Architects Daughter", cursive;
    margin:0px;
    margin-top:5px;
    color:maroon;
}
.welcome {
    flex-basis: 100%;
}
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tasks{
    width:480px;
    height: 395px;
    background-color:rgb(239, 187, 204);
    margin:3px;
    margin-left:8px;
    border-radius: 1cm;
    overflow:hidden;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);
}
.tasks h3{
    margin:0;
    padding-left:210px;
    font-size:25px;
    font-family: "Shadows Into Light Two", cursive;
    color:maroon;

}
.header{
    display:flex;
    background-color:antiquewhite;
}
#add-task{
    color: maroon;
    font-size:14px;
    background-color: rgb(252,241,201);
    padding:1px;
    height:20%;
    margin:7px;
    border-radius: 0.2cm;
    border-color: peachpuff;
    margin-left:150px;
    margin-top:9px;

}
.task-filter{
    margin-left:185px;
    margin-top:5px;
}
.task-filter>button{
    color: maroon;
    background-color: rgb(252,241,201);
    padding: 3px;
    border-radius: 0.4cm;
    border-color: peachpuff;
    font-size:16px;
    margin:0;
}

.study-time{
    width:480px;
}
.study-time>h2{
    font-family: "Shadows Into Light Two", cursive;
    text-align: center;
    margin:0;
    font-size:25px;
    color:maroon

}
.study-time-display{
    display:flex;
    margin-left:10px;
    margin-right:10px;
    margin-top: 1px;
    height:340px;
}
.time-separator{
    width:7%;
    font-size: 75px;
    color:darkred;
    padding-top:120px;
    text-align: center;
}
.hour-time-box,.min-time-box{
    width:48%; 
    height:100%;
    border-radius:0.5cm;
    text-align: center;
    box-shadow: 4px 4px 19px -3px #000000;    
}
.hour-time-box{
    background-image: url("hours.jpeg");
    background-size: cover;
    background-position: center;
    color:maroon;
    display:flex;
    flex-direction: column;
}
.min-time-box{
    background-image: url("mins.jpeg");
    background-size: cover;
    background-position: center;
    color:rgb(252,241,201);
    display:flex;
    flex-direction: column;
}
.time-value{
    width:100%;
    height:90%;
    font-size:180px;
    padding-top:65px;
    padding-right:30px;
    margin-left:20px;
}
.time-label{
    font-size:30px;
    text-align: end;
    padding-right: 10px;;
}
.pomodoro {
    width: 477px;
    height: 395px;
    background-color: rgb(239, 187, 204);
    margin: 4px;
    border-radius: 1cm;
    overflow: hidden;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
}
.timer-buttons{
    margin:0px;
    margin-top:15px;
    padding:0px;
    text-align: center;
}
.timer-button{ 
    color: maroon;
    background-color: rgb(252,241,201);
    padding: 3px;
    border-color:blanchedalmond;
    font-size: 19px;
    border-radius:1cm;
    width:45px;
    margin-left:7px;
}
.custom-timer{
    display:flex;
    margin:0px;
    padding:0px;
    gap:3px;
    color:maroon;
    font-size: 22px;
    font-family:"Shadows Into Light Two", cursive;
    margin-left: 130px;
    
}
.stopwatch-layout #timer-display {
    margin-top: 50px;
}
.custom-timer[hidden] {
    display: none;
}
.custom-timer>p{
    padding:0px;
    margin:0px;
}
.timer-box{
    padding:0px;
    height:25px;
    width:50px;
    margin-top:3px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 350;
    border-color: antiquewhite;
    text-align: center;
    background-color:rgb(252,241,201);
    border-radius: 1.2cm;
    color:maroon;
}
#timer-display{
    width:100%;
    height:90%;
    margin:0px;
    margin-left:20px;
    text-align: center;
    font-size:140px;
    padding-right:30px;
    color:maroon;
}
.pomodoro-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: antiquewhite;
}
.pomodoro-header > h3 {
    margin: 0;
    font-size: 25px;
    font-family: "Shadows Into Light Two", cursive;
    color: maroon;
}
.timer-mode {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
}

.timer-mode > button {
    color: maroon;
    background-color: rgb(252,241,201);
    padding: 3px 10px;
    border-radius: 0.4cm;
    border-color: peachpuff;
    font-size: 16px;
}
#start-focus {
    color: maroon;
    background-color: rgb(252,241,201);
    font-family: "Shadows Into Light Two", cursive;
    font-size: 20px;
    border-radius: .3cm;
    font-weight: 600;
    border-color: peachpuff;
    padding:5px;
    width: 120px;
    height: 50px;

    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:35px;
}
#post-start{
    text-align: center;
    margin:0px;
}
#pause-focus{
    color: maroon;
    background-color: rgb(252,241,201);
    font-family: "Shadows Into Light Two", cursive;
    font-size: 20px;
    border-radius: .3cm;
    font-weight: 600;
    border-color: peachpuff;
    padding:5px;
    width: 120px;
    height: 45px;

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
#stop-focus{
    color: maroon;
    background-color: rgb(252,241,201);
    font-family: "Shadows Into Light Two", cursive;
    font-size: 20px;
    border-radius: .3cm;
    font-weight: 600;
    border-color: peachpuff;
    padding:5px;
    width: 120px;
    height: 45px;

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
#resume-focus{
    color: maroon;
    background-color: rgb(252,241,201);
    font-family: "Shadows Into Light Two", cursive;
    font-size: 20px;
    border-radius: .3cm;
    font-weight: 600;
    border-color: peachpuff;
    padding:5px;
    width: 130px;
    height: 45px;

    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px; 
}
.contribution-calendar{
    width:550px;
    border:1px solid magenta;
    height:330px;
}
.contribution-calendar>h2{
    margin:0;
    font-size:20px;
    font-family: "Shadows Into Light Two", cursive;
    color:maroon;
    text-align: center;
}
.day-counter {
    width: 330px;
    height: 175px;
    margin: 3px;
    background-color: rgb(239, 187, 204);
    border-radius: 1cm;
    overflow: hidden;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);

    font-family: "Shadows Into Light Two", cursive;
    color: maroon;
}

.countdown-header {
    height: 40px;
    background-color: antiquewhite;

    display: flex;
    align-items: center;
}

.countdown-header > h2 {
    font-size: 20px;
    margin: 0;
    width: 60%;
    text-align: center;
}

.countdown-header > button {
    color: maroon;
    background-color: rgb(252,241,201);
    padding: 1.5px;
    border-radius: 0.2cm;
    border-color: peachpuff;
    margin-left: 50px;
}

.progress {
    width: 330px;
    height: 155px;
    margin: 3px;

    background-color: rgb(239, 187, 204);
    border-radius: 1cm;
    overflow: hidden;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);

    font-family: "Shadows Into Light Two", cursive;
    color: maroon;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.progress-header {
    width: 100%;
    height: 40px;
    background-color: antiquewhite;

    display: flex;
    align-items: center;
}

.progress-header > h3 {
    margin: 0;
    width: 60%;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
}

.progress-header > button {
    color: maroon;
    background-color: rgb(252,241,201);
    padding: 1px;
    border-radius: 0.2cm;
    border-color: peachpuff;
    margin: 0;
}

.activities {
    width: 100%;
    padding: 8px;
}

.progress p {
    margin: 0;
    padding: 3px;
}

.projects {
    width: 557px;
    height: 330px;
    margin: 3px;
    margin-left:8px;

    background-color: rgb(239, 187, 204);
    border-radius: 1cm;
    overflow: hidden;
    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.75);

    font-family: "Shadows Into Light Two", cursive;
    color: maroon;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.projects-header {
    width: 100%;
    height: 40px;
    background-color: antiquewhite;

    display: flex;
    align-items: center;
}

.projects-header > h2 {
    margin: 0;
    width: 60%;
    text-align:left;
    margin-left:50px;
    font-size: 22px;
}

.projects-header > button {
    color: maroon;
    background-color: rgb(252,241,201);
    padding: 1px;
    border-radius: 0.2cm;
    border-color: peachpuff;
    margin-left: 70px;
    font-size: 14px;
}